html,
body {
  margin: 0;
  background-color: black;
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  color: whitesmoke;
}

h1,
h3 {
  font-weight: 700;
  font-style: italic;
  margin: 0;
}

h1 {
  font-size: 100px;
}

h3 {
  font-size: 50px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.divider {
  width: 25vw;
  height: 1px;
  background-color: whitesmoke;
  margin: 50px;
}

.social {
  width: 100%;
  display: flex;
  justify-content: center;
}

.social ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.social ul li {
  display: inline;
  font-size: 20px;
}

.social ul li::after {
  content: ' /';
}

.social ul li:last-child:after {
  content: '';
}

.social ul li a {
  color: whitesmoke;
  text-decoration: none;
}

.social ul li a:hover {
  background-color: whitesmoke;
  color: black;
}

/* Mobile Styles */
@media only screen and (max-width: 320px) {
  h1 {
    font-size: 40px;
  }
  h3 {
    font-size: 30px;
  }
  .divider {
    margin: 15px;
  }
  .social ul li {
    font-size: 14px;
  }
}

@media only screen and (max-width: 610px) {
  h1 {
    font-size: 45px;
  }
  h3 {
    font-size: 35px;
  }
  .divider {
    margin: 15px;
  }
  .social ul li {
    font-size: 18px;
  }
}
