/* @mixin for-phone-only {
  @media (max-width: 599px) {
    @content;
  }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 600px) {
    @content;
  }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 900px) {
    @content;
  }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) {
    @content;
  }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) {
    @content;
  }
} */

html,
body {
  margin: 0;
  padding: 0;
  max-width: 100%;
  background-color: white;
  font-family: 'Raleway', sans-serif;
  color: black;
}
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

header {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 30px;
}

header > h1,
h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  letter-spacing: 0.2em;
}

header .social {
  margin-top: 15px;
}

header .social > * {
  color: black;
  margin-right: 15px;
}

header .social > *:hover {
  color: blueviolet;
}

.container {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.container > img,
.uses {
  max-width: 50vw;
}

.uses {
  border: 1px solid #ddd;
  padding: 15px;
}

.uses > ul > li {
  padding-bottom: 5px;
}

h2:hover .alumnus-purple {
  color: blueviolet;
}

h2:hover .alumnus-gold {
  color: gold;
}

footer {
  display: flex;
  margin: 50px;
  justify-content: flex-end;
  align-items: center;
}

footer a {
  color: black;
  font-weight: 400;
  text-decoration: none;
}

footer a:hover {
  color: blueviolet;
}

footer > ul {
  list-style: none;
}

footer > ul > li {
  display: inline;
}

footer > ul > li:after {
  content: '/';
  padding: 0 1rem;
}

footer > ul > li:last-child:after {
  content: '';
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .container > img,
  .uses {
    margin-top: 50px;
    max-width: 60vw;
  }

  footer {
    flex-direction: column;
  }
}
