@import "mixins";
main.blog {
  display: flex;
  flex-direction: column;
  padding: 0;

  @include for-tablet-portrait-up {
    padding: 2rem 3rem;
  }

  .featuredImage {
    max-width: 100%;
    height: 400px;
    align-self: center;
    object-fit: cover;

    @include for-tablet-portrait-up {
      min-width: 815px;
      max-width: 1500px;
    }
  }

  .postContent {
    padding: 1rem 2rem;
    font-size: 0.8rem;

    @include for-desktop-up {
      padding: 0 12rem;
    }

    color: #475569;

    .tag {
      font-weight: bold;
      color: blueviolet;
      border-radius: 1.5rem;
      border: 1px solid blueviolet;
      padding: .25rem;
      font-size: .6rem;
    }

    .formattedTitle {
      color: black;
      margin-bottom: .5rem;
    }

    .category {
      margin-top: 0;
      margin-bottom: .5rem;
      color: gray;
    }

    .publishedOn {
      display: block;
      color: blueviolet;
      font-size: .75rem;
      time {
        padding-top: .5rem;
        display: block;
        color: black;
        font-size: 1.25rem;
      }
    }
  }
}
