// Mixins
@mixin for-phone-only {
  @media (max-width: 599px) {
    @content;
  }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 600px) {
    @content;
  }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 900px) {
    @content;
  }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) {
    @content;
  }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) {
    @content;
  }
}

// Helpers
.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.space-between {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}

.mw-50 {
  max-width: 50%;
}

.img-responsive {
  width: 100%;
  height: auto;
}

// Actual Styles
html,
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  max-width: 100%;
  background-color: white;
  font-family: 'Inter', sans-serif;
  color: black;
}

body {
  display: flex;
  flex: 1;
  min-height: 100vh;
  flex-direction: column;

  h1 {
    font-size: 3rem;
    font-weight: 900;
  }
}

h2:hover .alumnus-purple {
  color: blueviolet;
}

h2:hover .alumnus-gold {
  color: gold;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 3rem;

  .logo {
    width: 2rem;
  }

  a {
    color: black;
    font-size: 1.25rem;
    font-weight: 600;
    text-decoration: none;

    &:hover {
      color: blueviolet;
    }
  }

  nav {
    width: 50%;
    display: flex;
    justify-content: center;
  }

  ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;

    li {
      display: inline;
      margin-left: 4rem;

      &:first-child {
        margin-left: 0;
      }

      @include for-phone-only {
        display: block;
        text-align: center;
        padding-top: 1rem;

        &:after {
          content: '';
        }
      }
    }
  }

  @include for-phone-only {
    flex-direction: column;
  }
}

footer {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
  padding: 2rem 3rem;
  font-weight: 500;
  font-size: .75rem;
  color: gray;
}

main {
  padding: 2rem 3rem;

  p {
    font-size: 1.25rem;
  }

  a {
    font-weight: bold;
  }

  img.me {
    max-width: 90%;
    outline: 3px solid white;
    outline-offset: -0.5rem;
  }

  .role {
    font-weight: 700;
  }

  .about {
    padding-right: 2rem;
  }

  .lsu-alumn {
    animation: rainbow 2s ease-in-out infinite;
    background: linear-gradient(to right,gold,burlywood,blueviolet);
    background-clip: text;
    -webkit-background-clip:text;
    color: rgba(0,0,0,1);
    transition: color .5s ease-in-out;
    text-transform: uppercase;
    background-size: 200% 200%;

    &:hover {
      color:rgba(0,0,0,0);
    }

    @keyframes rainbow {
     0%{background-position:left}
     50%{background-position:right}
     100%{background-position:left}
    }
  }
}
