// Mixins
@mixin for-phone-only {
  @media (max-width: 599px) {
    @content;
  }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 600px) {
    @content;
  }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 900px) {
    @content;
  }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) {
    @content;
  }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) {
    @content;
  }
}

// Helpers
.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.space-between {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}

.mw-50 {
  max-width: 50%;
}

.img-responsive {
  width: 100%;
  height: auto;
}

.hidden-mobile {
  @include for-phone-only {
    display: none;
  }
}

.visible-mobile-only {
  display: none;

  @include for-phone-only {
    display: inline;
  }
}

.mx-auto {
  margin: 0 auto;
}

// Actual Styles
html,
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  max-width: 100%;
  background-color: white;
  font-family: 'Inter', sans-serif;
  color: black;
}

body {
  display: flex;
  flex: 1;
  min-height: 100vh;
  flex-direction: column;

  h1 {
    font-size: 3rem;
    font-weight: 900;
  }
}

h2:hover .alumnus-purple {
  color: blueviolet;
}

h2:hover .alumnus-gold {
  color: gold;
}

header {
  padding: 2rem 3rem;

  .logo {
    width: 2rem;
  }

  a {
    color: black;
    font-size: 1.25rem;
    font-weight: 600;
    text-decoration: none;

    &:hover {
      color: blueviolet;
    }
  }

  ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    display: none;
    background-color: whitesmoke;

    li {
      padding: 0.5rem;
      border-bottom: 1px solid gray;

      &:last-child {
        border-bottom: none;
      }
    }
  }
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: auto;
  padding: 2rem 3rem;
  font-weight: 500;
  font-size: .75rem;
  color: gray;

  @include for-tablet-landscape-up {
    flex-direction: row;
    justify-content: space-between;
  }
}

main {
  padding: 2rem 3rem;
  margin: auto 0;

  p {
    font-size: 1.25rem;
  }

  a {
    font-weight: bold;
  }

  .headshot-container {
    display: none;

    @include for-tablet-portrait-up {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    @include for-tablet-landscape-up {
      max-width: 50%;
    }
  }

  img.me {
    max-width: 90%;
    outline: 3px solid white;
    outline-offset: -0.5rem;
  }

  .role {
    font-weight: 700;
  }

  .about-container {
    display: flex;
    flex-direction: column;

    @include for-tablet-landscape-up {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
  }

  .about {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    h1 {
      @include for-phone-only {
        font-size: 2rem;
        text-align: center;
      }
    }

    @include for-tablet-landscape-up {
      display: flex;
      flex-direction: column;
      max-width: 50%;
      padding-right: 2rem;
    }
  }

  .lsu-alumn {
    animation: rainbow 2s ease-in-out infinite;
    background: linear-gradient(to right,gold,burlywood,blueviolet);
    background-clip: text;
    -webkit-background-clip:text;
    color: rgba(0,0,0,1);
    transition: color .5s ease-in-out;
    text-transform: uppercase;
    background-size: 200% 200%;

    &:hover {
      color:rgba(0,0,0,0);
    }

    @keyframes rainbow {
     0%{background-position:left}
     50%{background-position:right}
     100%{background-position:left}
    }
  }
}
