<footer>
  <span>
    &copy;
    <span id="copyrightYear"><%= Time.now.year %></span>
     Andrew Vogel
  </span>

  <span>
    Made with <span style="color: lightcoral;">&#9829;</span> in Jacksonville, FL   
  <span>
</footer>
