.blog-posts {
  padding-top: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.post-metadata {
  display: flex;
  justify-content: space-between; }
  .post-metadata .category {
    color: white;
    background-color: deepskyblue;
    padding: 5px;
    border-radius: 5px;
    font-weight: bold; }
  .post-metadata .date {
    color: darkgray; }

article {
  border: 2px solid #ddd;
  border-radius: 3px;
  padding: 15px 30px;
  margin-bottom: 15px; }

article > h3 > a, a:hover {
  text-decoration: none; }

article > h3 > a {
  color: black; }

article > h3 > a:hover {
  color: blueviolet;
  text-decoration: none; }

article > p > a {
  text-decoration: none;
  color: blueviolet; }
  article > p > a:hover {
    text-decoration: underline; }

article > p > a:active {
  color: #ddd;
  text-decoration: underline; }
