main.blogs section.tils .tilsContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 16rem;
  justify-content: space-evenly;
  overflow: auto;
  padding-top: 1rem; }

main.blogs section.tils .tilsSliceContainer {
  margin-right: 0.5rem; }
  main.blogs section.tils .tilsSliceContainer:last-child {
    margin-right: 0; }

main.blogs a.tilLink {
  display: block;
  text-decoration: none;
  font-weight: normal;
  margin-bottom: 1rem;
  color: black; }

main.blogs .til {
  background-color: lightgray;
  border: 1px solid lightgray;
  padding: 1rem 1.5rem;
  border-radius: .75rem; }
  main.blogs .til .title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
  main.blogs .til time {
    color: #4f4f4f; }
  main.blogs .til:hover {
    background-color: whitesmoke;
    border: 1px solid gray;
    -webkit-box-shadow: 1px 1px 2px gray;
            box-shadow: 1px 1px 2px gray; }
  main.blogs .til:last-child {
    margin-bottom: 0; }
  main.blogs .til span.tilHashtag {
    color: blueviolet; }

main.blogs .titleSection {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  main.blogs .titleSection a {
    text-decoration: none;
    color: tomato; }

main.blogs .imageTextOverlay {
  position: relative;
  color: white; }
  main.blogs .imageTextOverlay img {
    width: 100%;
    height: 500px;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 0.75rem; }
  main.blogs .imageTextOverlay .bottom-left {
    position: absolute;
    bottom: 2rem;
    left: 2rem;
    color: white; }
    main.blogs .imageTextOverlay .bottom-left a {
      text-decoration: none;
      color: white;
      font-size: 3rem; }
      main.blogs .imageTextOverlay .bottom-left a:hover {
        text-decoration: underline; }
