.flex {
  display: flex; }

.flex-column {
  display: flex;
  flex-direction: column; }

.space-between {
  justify-content: space-between; }

.items-center {
  align-items: center; }

.mw-50 {
  max-width: 50%; }

.img-responsive {
  width: 100%;
  height: auto; }

@media (max-width: 599px) {
  .hidden-mobile {
    display: none; } }

.visible-mobile-only {
  display: none; }
  @media (max-width: 599px) {
    .visible-mobile-only {
      display: inline; } }
.mx-auto {
  margin: 0 auto; }

html,
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  max-width: 100%;
  background-color: white;
  font-family: 'Inter', sans-serif;
  color: black; }

body {
  display: flex;
  flex: 1;
  min-height: 100vh;
  flex-direction: column; }
  body h1 {
    font-size: 3rem;
    font-weight: 900; }

h2:hover .alumnus-purple {
  color: blueviolet; }

h2:hover .alumnus-gold {
  color: gold; }

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 3rem; }
  header .logo {
    width: 2rem; }
  header a {
    color: black;
    font-size: 1.25rem;
    font-weight: 600;
    text-decoration: none; }
    header a:hover {
      color: blueviolet; }
  header nav {
    width: 50%;
    display: flex;
    justify-content: center; }
  header ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0; }
    header ul li {
      display: none; }
      @media (min-width: 600px) {
        header ul li {
          display: inline;
          margin-left: 2rem; } }
      @media (min-width: 900px) {
        header ul li {
          margin-left: 4rem; } }
      header ul li:first-child {
        margin-left: 0; }
  @media (max-width: 599px) {
    header {
      flex-direction: row; } }
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: auto;
  padding: 2rem 3rem;
  font-weight: 500;
  font-size: .75rem;
  color: gray; }
  @media (min-width: 900px) {
    footer {
      flex-direction: row;
      justify-content: space-between; } }
main {
  padding: 2rem 3rem;
  margin: auto 0; }
  main p {
    font-size: 1.25rem; }
  main a {
    font-weight: bold; }
  main .headshot-container {
    display: none; }
    @media (min-width: 600px) {
      main .headshot-container {
        display: flex;
        flex-direction: column;
        align-items: center; } }
    @media (min-width: 900px) {
      main .headshot-container {
        max-width: 50%; } }
  main img.me {
    max-width: 90%;
    outline: 3px solid white;
    outline-offset: -0.5rem; }
  main .role {
    font-weight: 700; }
  main .about-container {
    display: flex;
    flex-direction: column; }
    @media (min-width: 900px) {
      main .about-container {
        flex-direction: row;
        align-items: center;
        justify-content: space-between; } }
  main .about {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; }
    @media (max-width: 599px) {
      main .about h1 {
        font-size: 2rem;
        text-align: center; } }
    @media (min-width: 900px) {
      main .about {
        display: flex;
        flex-direction: column;
        max-width: 50%;
        padding-right: 2rem; } }
  main .lsu-alumn {
    -webkit-animation: rainbow 2s ease-in-out infinite;
            animation: rainbow 2s ease-in-out infinite;
    background: -webkit-gradient(linear, left top, right top, from(gold), color-stop(burlywood), to(blueviolet));
    background: linear-gradient(to right, gold, burlywood, blueviolet);
    background-clip: text;
    -webkit-background-clip: text;
    color: black;
    -webkit-transition: color .5s ease-in-out;
    transition: color .5s ease-in-out;
    text-transform: uppercase;
    background-size: 200% 200%; }
    main .lsu-alumn:hover {
      color: rgba(0, 0, 0, 0); }

@-webkit-keyframes rainbow {
  0% {
    background-position: left; }
  50% {
    background-position: right; }
  100% {
    background-position: left; } }

@keyframes rainbow {
  0% {
    background-position: left; }
  50% {
    background-position: right; }
  100% {
    background-position: left; } }
