@import url(uses.css);
@import url(blog.css);
.flex {
  display: flex; }

.flex-column {
  display: flex;
  flex-direction: column; }

.space-between {
  justify-content: space-between; }

.items-center {
  align-items: center; }

.content-center {
  justify-content: center; }

.mw-50 {
  max-width: 50%; }

.img-responsive {
  width: 100%;
  height: auto; }

@media (max-width: 599px) {
  .hidden-mobile {
    display: none; } }

.visible-mobile-only {
  display: none; }
  @media (max-width: 599px) {
    .visible-mobile-only {
      display: inline; } }
.mx-auto {
  margin: 0 auto; }

.mt-2 {
  margin-top: 0.5rem; }

.flex-1 {
  flex: 1; }

.hover-text-gray:hover {
  color: gray; }

.text-light-gray {
  color: lightgray; }

.y-auto {
  height: auto !important; }

.cursor-default {
  cursor: default; }

html,
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  max-width: 100%;
  background-color: white;
  font-family: 'Inter', sans-serif;
  color: black; }

body {
  display: flex;
  flex: 1;
  min-height: 100vh;
  flex-direction: column; }
  body h1 {
    font-size: 3rem;
    font-weight: 900; }

h2:hover .alumnus-purple {
  color: blueviolet; }

h2:hover .alumnus-gold {
  color: gold; }

header {
  padding: 2rem 3rem; }
  header .logo {
    width: 2rem; }
  header nav {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    header nav ul {
      display: flex;
      justify-content: space-between;
      align-items: center; }
      header nav ul li {
        margin-left: 4rem;
        list-style: none; }
    header nav a {
      font-size: 1.25rem;
      color: #475569;
      font-weight: 600;
      text-decoration: none; }
      header nav a:hover {
        color: blueviolet; }
    header nav .hamburger {
      display: none; }
    header nav .bar {
      display: block;
      width: 1.5rem;
      height: 0.25rem;
      margin: 0.25rem auto;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      background-color: #101010; }

@media only screen and (max-width: 768px) {
  nav ul {
    width: 100vw;
    position: fixed;
    left: -100%;
    padding: inherit;
    top: 5rem;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    text-align: center;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    -webkit-box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
            box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    z-index: 1; }
    nav ul li {
      margin: 2.5rem 0 !important; }
  nav ul.active {
    left: -0%; }
  nav .hamburger {
    display: block !important;
    cursor: pointer; }
  nav .hamburger.active .bar:nth-child(2) {
    opacity: 0; }
  nav .hamburger.active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
            transform: translateY(8px) rotate(45deg); }
  nav .hamburger.active .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
            transform: translateY(-8px) rotate(-45deg); } }

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: auto;
  padding: 2rem 3rem;
  font-weight: 500;
  font-size: .75rem;
  color: gray; }
  @media (min-width: 900px) {
    footer {
      flex-direction: row;
      justify-content: space-between; } }
main {
  padding: 2rem 3rem;
  margin: auto 0; }
  main p {
    font-size: 1.25rem; }
  main a {
    font-weight: bold; }
  main .headshot-container {
    display: none; }
    @media (min-width: 600px) {
      main .headshot-container {
        display: flex;
        flex-direction: column;
        align-items: center; } }
    @media (min-width: 900px) {
      main .headshot-container {
        max-width: 50%; } }
  main img.me {
    max-width: 90%;
    outline: 3px solid white;
    outline-offset: -0.5rem; }
  main .role {
    font-weight: 700; }
  main .about-container {
    display: flex;
    flex-direction: column; }
    @media (min-width: 900px) {
      main .about-container {
        flex-direction: row;
        align-items: center;
        justify-content: space-between; } }
  main .about {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; }
    @media (max-width: 599px) {
      main .about h1 {
        font-size: 2rem;
        text-align: center; } }
    @media (min-width: 900px) {
      main .about {
        display: flex;
        flex-direction: column;
        max-width: 50%;
        padding-right: 2rem; } }
  main .lsu-alumn {
    -webkit-animation: rainbow 2s ease-in-out infinite;
            animation: rainbow 2s ease-in-out infinite;
    background: -webkit-gradient(linear, left top, right top, from(gold), color-stop(burlywood), to(blueviolet));
    background: linear-gradient(to right, gold, burlywood, blueviolet);
    background-clip: text;
    -webkit-background-clip: text;
    color: black;
    -webkit-transition: color .5s ease-in-out;
    transition: color .5s ease-in-out;
    text-transform: uppercase;
    background-size: 200% 200%; }
    main .lsu-alumn:hover {
      color: rgba(0, 0, 0, 0); }

@-webkit-keyframes rainbow {
  0% {
    background-position: left; }
  50% {
    background-position: right; }
  100% {
    background-position: left; } }

@keyframes rainbow {
  0% {
    background-position: left; }
  50% {
    background-position: right; }
  100% {
    background-position: left; } }
