<footer class="animated fadeInLeft">
  <span id="copyright">&copy; 2018-2019 Andrew Vogel</span>
  <ul>
    <li><a href="index.html">Home</a></li>
    <li><a href="uses.html">Uses</a></li>
    <li><a href="mailto:andrewpvogel@gmail.com">Contact</a></li>
  </ul>
</footer>