<footer class="animated fadeInLeft">
  <span id="copyright">&copy; 2018-2019 Andrew Vogel</span>
  <ul>
    <li><%= link_to "Home", "/index.html" %></li>
    <li><%= link_to "Uses", "/uses.html" %></li>
    <li><%= link_to "Blog", "/blog.html" %></li>
    <li><%= link_to "Contact", "mailto:andrewpvogel@gmail.com" %></li>
  </ul>
</footer>
