<header class="animated fadeInDown">
  <h1>Andrew Vogel</h1>
  <h2>Software Developer</h2>
  <h2>
    <span class="alumnus-purple">LSU </span
    ><span class="alumnus-gold">Alumnus</span>
  </h2>
  <%= partial "social_links" %>
</header>
