<div class="social">
  <a
     href="https://www.instagram.com/calllmehvogel"
     target="_blank" 
     rel="noopener noreferrer" 
     aria-label="Andrew Vogel on Instagram"
     >
     <i class="fab fa-instagram fa-2x" aria-hidden="true"></i>
  </a>
  <a
     href="https://www.instagram.com/calllmehvogel"
     target="_blank" 
     rel="noopener noreferrer" 
     aria-label="Andrew Vogel on Twitter"
     >
     <i class="fab fa-twitter fa-2x" aria-hidden="true"></i>
  </a>
  <a
     href="https://github.com/avogel3"
     target="_blank" 
     rel="noopener noreferrer" 
     aria-label="Andrew Vogel on Github"
     >
     <i class="fab fa-github fa-2x" aria-hidden="true"></i>
  </a>
  <a
     href="https://www.linkedin.com/in/andrewpvogel/"
     target="_blank" 
     rel="noopener noreferrer" 
     aria-label="Andrew Vogel on LinkedIn"
     >
     <i class="fab fa-linkedin fa-2x" aria-hidden="true"></i>
  </a>
</div>
