<main>
  <div class="flex space-between items-center">
    <div class="flex-column mw-50 about">
      <h1>Hi 👋, my name is Andrew Vogel.</h1>
      <p>I’m a <span class="role">software developer</span>, <span class="role">fitness enthusiast</span>, and <span class="role lsu-alumn">LSU Alum</span></span>. When I’m not behind my computer, you can find me outside or in the gym. I also enjoy snapping pictures and making mechanical keyboards.</p>
      <p><b>Currently:</b> Software Developer at <a href="https://hashrocket.com" rel="noopener noreferrer">Hashrocket</a>, crafting things for the web and for mobile.</p>
    </div>
    <div class="flex-column mw-50">
      <%= image_tag "featured.JPG", class: "me img-responsive" %>
    </div>
  </div>
</main>
