<main>
  <div class="about-container">
    <div class="about">
      <h1>Hi 👋, my name is Andrew Vogel.</h1>
      <%= image_tag "featured.JPG", class: "me img-responsive visible-mobile-only mx-auto", alt: "Andrew Vogel - on a boat" %>
      <p>I’m a <span class="role">software developer</span>, <span class="role">fitness enthusiast</span>, and <span class="role lsu-alumn">LSU Alumnus</span></span>. When I’m not behind my computer, you can find me outside or in the gym. I also enjoy snapping pictures and making mechanical keyboards.</p>
      <p><b>Currently:</b> Software Developer at <a href="https://hashrocket.com" rel="noopener noreferrer">Hashrocket</a>, crafting things for the web and for mobile.</p>
    </div>
    <div class="headshot-container">
      <%= image_tag "featured.JPG", class: "me img-responsive", alt: "Andrew Vogel - on a boat" %>
    </div>
  </div>
</main>
