<div class="container">
  <%= partial "header" %>
  <img
    src="images/background.JPG"
    class="animated fadeInRight"
    alt="Andrew Vogel - Software Developer - Picture in St.Augustine"
  />
</div>
<%= partial "footer" %>