---
hardware:
  - title: At home
    content:
      - 2020 Macbook Pro 13"  
  - title: At work
    content: 
      - 2018 Mac Mini
      - 2017 Macbook Pro 15"
  - title: Audio
    content: 
      - Sonos One
      - Sony 1000MX2
      - Ikea Symfonisk Bookshelf Speaker
      - Apple Airpods 
  - title: Keyboards
    content:
      - HHKB
      - GMMK Pro w/ Kailh Purples
      - Rama Kara w/ NK Creams
      - KBD67 Lite R3 w/SP Metor Whites
apps: 
  - Slack
  - The Suite of Apple Apps (Notes, Reminders, Calendar, ...)
  - The Suite of Google Apps (GMail, Calendar, Sheets, Docs, ...)
  - 1Password
  - Alfred
  - Bartender
  - VLC
  - Amethyst
  - Coinbase
  - CoinMarketCap
---

<main class="uses">
  <h1>Uses</h1>
  <div class="flex-column items-center">
    <%= image_tag "uses_slim.JPG", class: "me img-responsive", alt: "What Andrew Vogel Uses Image" %>
  </div>
  <p>
  I'm a passionate technologist and I always geek out on cool hardware and software. This is not an exhaustive list. Rather, these are the items you can find me using regularly
  </p>
  <h2>Hardware</h2>
  <ul>
    <%- current_page.data.hardware.each do |hardware| %>
      <li>
        <b><%= hardware.title %>:</b> <%= hardware.content.join(', ') %>
      </li>
    <% end %>
  </ul>
  <h2>Software</h2>
  <ul>
    <li><b>Terminal:</b> iTerm & my homebrewed terminal config. When I first started at Hashrocket, I made a point to learn as much as I could from dotmatrix. After tinkering for a few years, I've started to settle on a config on my own. However a good portion of the config files still come from dotmatrix.
    <li>
      <b>Text Editor:</b> Big VIM guy here (lol), but I've been using NVIM most recently.
    </li>
    <li>
      <b>Other:</b> <%= current_page.data.apps.join(', ') %>
    </li>
  </ul>
  <hr />
  <details>
    <summary><b>What is a /uses page?</b></summary>
    <div class="about">
      <blockquote cite="https://github.com/wesbos/awesome-uses">
        <p>...detail(s) developer setups, gear, software and configs."</p>
      </blockquote>
      <figcaption>—Wes Bos, <cite>Awesome Uses</cite></figcaption>
    </div>
  </details>
</main>
