<div class="container">
  <%= partial "header" %>
  <div class="animated fadeInRight uses">
    <h1>Uses</h1>
    <p>
      I won't list everything in detail but these items are at the core of
      my workflow. Wouldn't be able to get anything done without them.
    </p>
    <h2>Hardware</h2>
    <ul>
      <li>
        <b>At home:</b> I use a 2020 Macbook Pro 13" (QuadCore-i5/16GB/512GB)
      </li>
      <li><b>At work:</b> Right now, I bounce between a 2018 Mac Mini or whatever a client sends me</li>
      <li><b>Audio:</b> Sonos One & Sony 1000MX2</li>
    </ul>
    <h2>Software</h2>
    <ul>
      <li><b>Terminal:</b> iTerm & <a href="https://github.com/hashrocket/dotmatrix" target="_blank" rel="noopener noreferrer">dotmatrix by Hashrocket</a></li>
      <li>
        <b>Text Editor:</b> VSCode for JavaScript & VIM/NVIM for everything else
      </li>
      <li>
        <b>Other:</b> Slack, Notes, 1Password, Alfred 3, Bartender,
        Amphetamine App, Postico, Rocket, VLC
      </li>
    </ul>
  </div>
</div>
<%= partial "footer" %>
