---
hardware:
  - title: At home
    content:
      - 2021 Macbook Pro M1 Pro 14"
  - title: At work
    content:
      - 2020 Mac Mini M1
  - title: Peripherals
    content:
      - Simpler60 / BSUN Bunny Switches / DCX Hyperfuse (Daily Driver)
      - Omnitype Bauer Lite / Haimu x Geon Black Switches / OTC Modo Light (Alternate)
      - Logitech MX Master 2
      - Sony WH1000XM2
      - Apple Airpods
apps: 
  - 1Password
  - Arc Browser
  - Alfred
  - Bartender
  - Ghostty Terminal
  - MeetingBar
  - Neovim
  - Notion
  - Obsidian
  - Slack
  - VLC
---

<main class="uses">
  <h1>Uses</h1>
  <div class="flex-column items-center">
    <%= image_tag "uses_slim.JPG", class: "me img-responsive", alt: "What Andrew Vogel Uses Image" %>
  </div>
  <p>
  I enjoy geeking out on cool tech. This is not an exhaustive list, but rather, these are the items you can find me using regularly
  </p>
  <h2>Hardware</h2>
  <ul>
    <%- current_page.data.hardware.each do |hardware| %>
      <li>
        <b><%= hardware.title %>:</b> <%= hardware.content.join(', ') %>
      </li>
    <% end %>
  </ul>
  <h2>Software</h2>
  <ul>
    <li><b>Terminal:</b> Ghostty & my homebrewed terminal config. When I first started at Hashrocket, I made a point to learn as much as I could from dotmatrix - an open source terminal config for workstations. After tinkering for a few years, I've started to settle on a config on my own. However a good portion of the config files still come from dotmatrix.
    <li>
      <b>Text Editor:</b> Big VIM guy here (lol), but I've been using NVIM most recently.
    </li>
    <li>
      <b>Other:</b> <%= current_page.data.apps.join(', ') %>
    </li>
  </ul>
  <hr />
  <details>
    <summary><b>What is a /uses page?</b></summary>
    <div class="about">
      <blockquote cite="https://github.com/wesbos/awesome-uses">
        <p>...detail(s) developer setups, gear, software and configs."</p>
      </blockquote>
      <figcaption>—Wes Bos, <cite>Awesome Uses</cite></figcaption>
    </div>
  </details>
</main>
